div::-webkit-scrollbar {
    width: 3px;
}

/* Track */
div::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
div::-webkit-scrollbar-thumb {
    background: #ff003d;
}

div{
    scrollbar-color: #ff003d #ff003d;
    scrollbar-width: auto;
}